[submodule "VCLS-org/crm"]
	path = VCLS-org/crm
	url = https://github.com/VCLS-org/crm.git
	branch = 12.0
[submodule "VCLS-org/timesheet"]
	path = VCLS-org/timesheet
	url = https://github.com/VCLS-org/timesheet.git
	branch = 12.0
[submodule "VCLS-org/sale-workflow"]
	path = VCLS-org/sale-workflow
	url = https://github.com/VCLS-org/sale-workflow.git
[submodule "VCLS-org/project"]
	path = VCLS-org/project
	url = https://github.com/VCLS-org/project.git
